@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bowlby+One&family=Fredoka+One&display=swap');

body{box-sizing: content-box;
    background-color:rgba(240, 248, 255, 0.645);
    
}
.header {
    background-color: rgb(244, 150, 0);
    width: 50%;
    height: 10%;
    border: 10px solid bisque;
    padding: 2px;
    margin:auto;
    text-align: center;
    font-size: xx-large;
    font-family: 'Fredoka One', cursive;
    margin-top: 5%;
    margin-bottom: 5px;
}
.content {
    background-color: blanchedalmond;
    width: 50%;
    height: 75%;
    border: 5px solid black;
    padding: 5px;
    margin:auto;
    text-align: justify;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
    margin-bottom: 2px;
}
.form{
    width: max-content;
    height: max-content;
    margin-bottom: 2%;
    padding: 10px 50px 30px 10px;
    

}
.button{
    background-color:  rgb(244, 150, 0);
    width: 80%;
    height: 100%;
    padding: 1px;
    border-radius: 10px;
    margin:auto;
    font-family: 'Black Han Sans', sans-serif;
    font-size: large;
    text-align: center;
}
#content2{
    text-align: center;
    font-size: medium;
    font-family: 'Bowlby One', cursive;
    
}
.button:hover{
    background-color: rgb(255, 153, 0);
}